/test/testdb.tmp/
/test/testdb.log
/test/testdb.properties
/test/testdb.script
/.jacocoverage/
/test/testdb.lck
/dist/
/test/test.tmp/
/test/test.properties
/test/test.script
/test/test.lck
/test/test.log
/.apt_generated/
/target/
/nbproject/
/build/
/build.xml
.classpath
.settings
.project
/nb-configuration.xml
/nbactions.xml

ActiveRecord-profiling.*
JActiveRecord-profiling.*
