/test/testdb.tmp/
/test/testdb.log
/test/testdb.properties
/test/testdb.script
/.jacocoverage/
/nbproject/
/test/testdb.lck
/dist/
/build.xml
/test/test.tmp/
/test/test.properties
/test/test.script
/test/test.lck
/test/test.log
/.apt_generated/
